.container {
  width: 100%;
  min-height: 600px;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
}
.btn-group {
  margin: 40px 0 30px 10px;
}
.btn-group .btn {
  margin-right: 20px;
  font-size: 2.2rem;
  padding: 1rem 1.4rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--btn-color);
  color: #fff;
  font-weight: 700;
}
.btn_active {
  background-color: #fff !important;
  color: var(--btn-color) !important;
  transition: 0.3s all ease;
  transform: scale(1.1);
}

//collapsible

.collapsible {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
}
.collapsible-content {
  position: absolute;
  top: 30%;
  left: 0;
  width: 45%;
  margin-left: 6rem;
}
.collapsible-img {
  position: absolute;
  top: -310px;
}
.collapsible-content-heading {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.collapsible-content-title {
  color: #fff;
}
